.App {
  text-align: center;
}

.container {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.left {
  flex-basis: 300px;
}

.middle {
  padding: 20px 0;
  flex-basis: 300px;
}

.right {
  flex-basis: 300px;
}

@media screen and (min-width: 600px) {
  .container {
    flex-wrap: nowrap;
  }
  .middle {
    padding: 0;
    flex-basis: 300px;
  }
}
